body {
    font-family: sans-serif;
    min-width: 300px;
    padding: 10px;
}

.rule-entry {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.rule-entry label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.rule-entry input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.suffix-list {
    margin-bottom: 10px;
}

.suffix-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.suffix-item button {
    margin-left: 5px;
    cursor: pointer;
}

#addRuleBtn,
#saveRules {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

.remove-rule-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

#statusMessage {
    color: green;
    margin-top: 10px;
}

.suffix-item .suffix-input {
    flex-grow: 1;
}

.bottom-rule-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: 5px;
  margin-left: 5px;
}

.switch, .enable-rule-switch-div, .remove-rule-btn-div {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

